<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.bbsMapper">

	<!-- mybatis-config.xml의 typeAlias에 등록해두지 않았다면
	<select id="selectMember" resultType="com.example.dto.MemberVO" >
		SELECT ID, PW ,NAME FROM TEST
	</select> 
		이렇게 해야 한다. -->

	<select id="selectBbslist" resultType="BbsModel">
		SELECT * FROM BBS
	</select>
	
	<insert id="insertBbs"> 
        INSERT INTO BBS (title, content, reg_date, user_id) VALUES (#{title}, #{content}, now(), #{userId})
    </insert>
    
    <select id="selectBbs" resultType="BbsModel">
		SELECT * FROM BBS WHERE BOARD_NO = #{bbsno}
	</select>
	
	<delete id="deleteBbs">
		DELETE FROM BBS WHERE BOARD_NO = #{bbsno}
	</delete>
	
	<update id="updateBbsModify">
		UPDATE BBS SET title = #{title}, content = #{content}, reg_date = now() WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="listpaging" resultType="BbsModel">
		SELECT * FROM BBS LIMIT #{page}, 10
	</select>
	
</mapper>